*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
}

main{
    font-family: 'Heebo', sans-serif;
}

#HEY{
    position: absolute;
    top: 172px;
    right: 52vw;
    transform:rotate(-18deg);
}

#BOO{
    position: absolute;
    bottom: 0px;
    right: 0vw;
    width: 260px;
    height: 260px;
}