<h1 [style]="{'color':'rgb(110, 0, 0)'}">Olá! Meu nome é {{ meuNome }}</h1>
<p>Eu sou da cidade maravilhosa de {{ meusOrigens }}</p>
<p>As coisas que eu mais gosto na vida são: {{ meusGostos }}</p>
<p> {{ descricaoDaMinhaFoto }} </p>
<div>
<img ID="HEY" [src]=cumprimento alt="cumprimento do {{ meuNome }}" height= "200px" width="200px" [style.display] = "Mouse=='ON' ? 'flex' : 'none'">
<img ID="FOTO" (mouseover)="mouseNoDiego ()" (mouseout)="mouseSemDiego ()" [src]=minhaUrlDaFoto alt="Uma foto do {{ meuNome }}" width="400px">
</div>